<ion-side-menus>
	<ion-side-menu side="left" ng-include src="'templates/side_menu.html'"></ion-side-menu>
	<ion-side-menu-content>
		<ion-view view-title="Add Coordinator" ng-controller="AddCoordinatorCtrl" ng-init="init()">
			<ion-header-bar>
				<div class="bar bar-header bar-dark login-header">
					<a class="button icon-left ion-chevron-left button-clear" ng-click="myGoBack()"></a>
					<h1 class="title" style="text-align:center;">Add a Coordinator</h1>	
				</div>
			</ion-header-bar>
			<ion-content class="scroll-content">
				<ion-item>
					<div class="list">
						<label class="item item-input">
							<input type="text" placeholder="First Name">
						</label>
						<label class="item item-input">
							<input type="text" placeholder="Last Name">
						</label>
						<label class="item item-input">
							<input type="text" placeholder="Email Address">
						</label>
						<label class="item item-input">
							<input type="text" placeholder="Phone Number">
						</label>
						<label class="item item-input">
							<input type="text" placeholder="Role (e.g. Coach)">
						</label>
						<div class="mt10">
							<div class="fl nrm-fnt" style="white-space:normal;width:60%;">Allow this person to add player & coordinators</div>
							<div class="fr sche-tog">
								<label class="toggle toggle-balanced">
									<input type="checkbox" class="chk-day" checked="checked" value="thu"/>
									<div class="track">
										<div class="handle"></div>
									</div>
								</label>
							</div>
							<div class="cb"></div>
						</div>
					</div>
				</ion-item>
				<ion-item>
					<button class="button button-full button-energized">
						Save Coordinator
					</button>
				</ion-item>
			</ion-content>
		</ion-view>	
	</ion-side-menu-content>
</ion-side-menus>