<ion-side-menus>
	<ion-side-menu side="left" ng-include src="'templates/side_menu.html'"></ion-side-menu>
	<ion-side-menu-content>
		<ion-view view-title="New Venue" ng-controller="NewVenueCtrl" ng-init="init()">
		<ion-header-bar>
			<div class="bar bar-header bar-dark login-header">
				<a class="button icon-left ion-chevron-left button-clear" ng-click="myGoBack()"></a>
				<h1 class="title" style="text-align:center;">New Venue</h1>	
			</div>
		</ion-header-bar>
			<ion-content class="scroll-content">
				<ion-item>
					<div class="list">
						<label class="item item-input">
							<input type="text" placeholder="Name*">
						</label>
						<label class="item item-input">
							<input type="text" placeholder="Abbreviation* (e.g. JFK-F1)">
						</label>
						<label class="item item-input">
							<textarea placeholder="Additional Info"></textarea>
						</label>
					</div>
				</ion-item>
				<ion-item>
					<div class="mt10 mb10">
						<button class="button button-full button-energized">
							Save Venue
						</button>
					</div>
				</ion-item>
			</ion-content>
		</ion-view>	
	</ion-side-menu-content>
</ion-side-menus>