<ion-view view-title="Order Details" ng-controller="OrderDetailCtrl" ng-init="init()">
			<ion-header-bar>
				<div class="bar bar-header bar-dark login-header">
					<a class="button icon-left ion-chevron-left button-clear" ng-click="myGoBack()"></a>
					<h1 class="title" style="text-align:center;">Order Details</h1>
				</div>	
			</ion-header-bar>
			<ion-content>
			<ion-scroll direction="y" style="height:87vh;" id="scroll_list" delegate-handle="small">
				<ion-item>
					<div>
					<div class="fnt-bld fl fnt-clr">Order: {{orderDetail.business_id}}</div>
						<div class="fr nrm-fnt">{{orderDetail.date}}</div>
						<div class="cb"></div>
					</div>
					<div class="fnt-bld mb10">Total: {{orderDetail.adjusted_price}}</div>
					<div class="fnt-bld mb10" ng-if="orderDetail.outstanding_balance_amount">{{orderDetail.payment_label}}: ${{orderDetail.outstanding_balance_amount}}</div>
					
					<div ng-repeat="regList in orderDetail.registrations">
						<div class="fnt-bld mt10" style="white-space:pre-line;">{{regList.registration_product.activity}}</div>
						<div class="nrm-fnt">{{regList.registration_product.human_team}}</div>
						<div class="nrm-fnt" ng-if="regList.payment_option_details.price">{{regList.payment_option_details.price}}: ${{regList.payment_option_details.amount}}</div>
						<div class="mb10">
							<div class="nrm-fnt fl" style="color:red;" ng-if="regList.payment_options.show_outstanding_balance == true">Balance: ${{regList.payment_options.outstanding_balance}}&nbsp;</div>
							<div class="nrm-fnt fl" ng-if="regList.payment_options.show_payment_due == true">, Due {{regList.payment_options.payment_due}}</div>
							<div class="cb"></div>
						</div>
						<div class="fnt-bld mt10">Registration Details</div>
						<div class="nrm-fnt mb10" ng-if="regList.team.details.team_name">Team Name: {{regList.team.details.team_name}}</div>
						<a href="javascript:void(0)" ng-click="showRegdInf({{regList.id}})" class="nrm-fnt" id="showRegLink_{{regList.id}}" ng-if="regList.participants.length || regList.team.details.rosters.length || regList.additional_information.length || regList.registrant || regList.team.details.coordinators.length || regList.emergency_contact">+ View all registration details</a>
						<a href="javascript:void(0)" ng-click="hideRegdInf({{regList.id}})" class="nrm-fnt" id="hideRegLink_{{regList.id}}" style="display:none;">- View all registration details</a>
						<div id="RegInfDiv_{{regList.id}}" class="view-reg-inf">
							<div class="nrm-fnt mt10" ng-if="regList.registrant">
								<div class="fnt-bld">Customer: </div>
								<div>
									{{regList.registrant.full_name}}&nbsp;({{regList.registrant.email}})
								</div>
							</div>
							<div class="nrm-fnt mt10" ng-if="regList.is_participating">
								<div class="fnt-bld">Participant: </div>
								<div class="">
									{{regList.participants.full_name}} ({{regList.participants.email}})</br>
									{{regList.participants.address}}</br>
									{{regList.participants.city}}, {{regList.participants.state}} {{regList.participants.zip}}</br>
									{{regList.participants.phone}}
								</div>
							</div>
							<div class="nrm-fnt mt10" ng-if="regList.team.details.rosters.length">
								<div class="fnt-bld">Roster: </div>
								<div ng-repeat="rosterRec in regList.team.details.rosters">
									{{rosterRec.first_name}}&nbsp;{{rosterRec.last_name}}&nbsp;({{rosterRec.email}})
								</div>
							</div>
							<div class="nrm-fnt mt10" ng-if="regList.additional_information.length">
								<div class="fnt-bld">Additional Information: </div>
								<div ng-repeat="addInf in regList.additional_information" style="white-space:pre-line;">
									{{addInf.field_name}}: {{addInf.field_value}}
								</div>
							</div>
							<div class="nrm-fnt mt10" ng-if="regList.team.details.coordinators.length">
								<div class="fnt-bld">Coordinators: </div>
								<div ng-repeat="coordinator in regList.team.details.coordinators">
									{{coordinator.address}} ({{coordinator.role}})
								</div>
							</div>
							<div class="nrm-fnt mt10" ng-if="regList.emergency_contact">
								<div class="fnt-bld">Emergency Contact: </div>
								<div>
									Full Name: {{regList.emergency_contact.full_name}}
								</div>
								<div>
									Address: {{regList.emergency_contact.address}}
								</div>
								<div>
									Phone: {{regList.emergency_contact.phone}}
								</div>
							</div>
						</div>
					</div>
					<div class="mt10" ng-if="orderType == 'awaiting_payment'">
						<button class="button button-full button-energized" ng-click="makePayment()">
								Make a payment
						</button>
					</div>
				</ion-item>
			</ion-scroll>
			</ion-content>
</ion-view>